# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

phantomjs.exe
config.ini
_file.txt
_template.txt
ghostdriver.log
config-grrif.ini
config.ini
examples-template/template-fabrik.json
examples-template/template-class21.json
config-class21.ini
config-old.ini
.vscode/
themes/alex1.html
config-c21.ini
config-clazz.ini
config-fabrik.ini
config-fip.ini
config-nostalgie.ini
config-nova.ini
config-rbazar.ini
config-rpl.ini
examples-template/template-clazz.json
examples-template/template-fip.json
examples-template/template-jam.json
examples-template/template-lexoradio.xml
examples-template/template-nostalgie.json
examples-template/template-nova.json
examples-template/template-rbazar.txt
examples-template/template-rpl.json
out/dls.txt
out/logo.jpg
out/music.jpg
out/REQUEST_SLIDES_DIR_REREAD
temp.py
config-jam.ini
examples-template/template-ouesttrack.json
config-frinfo.ini
config-rb.ini
config-otr.ini
themes/kif.html
examples-template/template-kif.json
examples-template/template-ouifmcr.json
examples-template/template-cf.xml
test.py
test2.py
misc/server copy.py
config-cf.ini
config-server.ini
